@import 'tailwindcss';

@font-face {
    font-family: "Bricolage Grotesque";
    src: url(./assets/fonts/BricolageGrotesque.ttf);
}
@font-face {
    font-family: "JetbrainsMono";
    src: url(./assets/fonts/JetBrainsMono.ttf);
}
@font-face {
    font-family: "IBMPlexSans";
    src: url(./assets/fonts/IBMPlexSans.ttf);
}

@theme {
    --font-display: "Bricolage Grotesque", sans-serif;
    --font-body: "IBMPlexSans";
    --font-mono: "JetbrainsMono";
    --default-font-family: "IBMPlexSans";

    --color-orange: #FF4B1F;
    --color-orange-dark: #D93A11;
    --color-ink: #170D02;
    --color-navy: #121B3E;
    --color-papier: #FFF6E9;
}

:has(.bg-papier) {
    @apply selection:bg-orange selection:text-papier
}
:has(.bg-orange) {
    @apply selection:bg-papier selection:text-orange
}

html {
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory */
}